.nav-links ul li {
    position: relative;
}
.nav-links ul li a::before{
    content: '';
    background-color: black;
    position: absolute;
    height: 1px;
    width: 8px;
    bottom: -5px;
    /* left: 4px;  */
    visibility: hidden;
    transition: all .2s linear;
}
.nav-links ul li:hover a::before{
    width: 100%;
    transition: all .2s linear;
    visibility: visible;
} 
