@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins';
}

html {
    scroll-behavior: smooth;
}

::selection {
    /* color: rgba(78, 194, 248, 0.87); */
    background-color: rgb(255, 182, 46);
    color: currentColor;
}

h1 {
    position: relative;
}
h1::after {
    content: '';
    height: 4px;
    width: 60px;
    position: absolute;
    bottom: -8px;
    left: 0;
    /* margin-left: 2px; */
    background-color: rgba(0, 0, 0, 0.699);
}

/* @media(max-width: 900px) {
    .hero-elements-container{
        height: fit-content !important;
        padding: 2rem 2rem;
        flex-direction: column;
        gap: 1rem;
    }
    .hero-floating-logos{
        flex-direction: row;
        padding-top: 0rem;
    }
    .text-boxes {
        display: flex;
        flex-direction: row;
    }
    .name-intro-text {
        margin: 10px;
    }

    .redux-logo, .react-logo, .tailwind-logo {
        transform: translateX(0);
    }
    .react-logo {
        transform: translateY(20px);
    }
    .redux-logo {
        transform: translateY(-10px) !important;
    }
    .tailwind-logo {
        transform: translateY(-10px) !important;
    }
    
} */